<div class="kt-portlet" [ngClass]="{ 'kt-portlet--body-progress kt-portlet--body-progress-overlay' : viewLoading }">
    <div class="kt-portlet__head kt-portlet__head__custom">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">Add Participant</h3>
        </div>
    </div>
    <form class="kt-form" [formGroup]="form">
        <div class="kt-portlet__body">

            <div class="kt-portlet__body-progress">
                <mat-spinner [diameter]="20"></mat-spinner>
            </div>

            <kt-alert *ngIf="hasFormErrors" type="warn" [duration]="5000" [showCloseButton]="true"
                (close)="onAlertClose($event)">
                {{errorMessage}}
            </kt-alert>

            <div class="form-group kt-form__group row">
                <div class="col-lg-12 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput placeholder="Enter email" formControlName="email"/>
                        <mat-error *ngIf="isControlHasError('email','required')">
                            <strong>equired field</strong>
                        </mat-error>
                        <mat-error *ngIf="isControlHasError('email','email')">
                            <strong>Invalid email</strong>
                        </mat-error>
                        <mat-error *ngIf="isControlHasError('email','minlength')">
                            <strong>Minimum field length: 3</strong>
                        </mat-error>
                        <mat-error *ngIf="isControlHasError('email','maxlength')">
                            <strong>Maximum field length: 320</strong>
                        </mat-error>
                        <mat-hint align="start">Please enter
                            <strong>email</strong>
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>            
        </div>
        <div class="kt-portlet__foot kt-portlet__no-border kt-portlet__foot--fit">
            <div class="kt-form__actions kt-form__actions--solid">
                <div class="row text-right">
                    <div class="col-lg-12">
                        <button type="button" mat-raised-button [mat-dialog-close]="data.animal" cdkFocusInitial
                            matTooltip="Cancel">
                            Cancel
                        </button>&nbsp;
                        <button type="button" mat-raised-button color="primary" (click)="onSubmit()"
                            [disabled]="viewLoading" matTooltip="Add participant">
                            Add
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>