<div class="kt-portlet" [ngClass]="{ 'kt-portlet--body-progress kt-portlet--body-progress-overlay' : viewLoading }">
    <div class="kt-portlet__head kt-portlet__head__custom">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">{{keyKeeperId ? 'Edit' : 'New'}} Key Keeper</h3>
        </div>
    </div>
    <form class="kt-form" [formGroup]="form">
        <div class="kt-portlet__body">
            <div class="kt-portlet__body-progress">
                <mat-spinner [diameter]="20"></mat-spinner>
            </div>
            <kt-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true"
                (close)="onAlertClose($event)">
                {{errorMessage}}
            </kt-alert>
            <div class="form-group kt-form__group row">
                <div class="col-lg-12 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput placeholder="Key id" formControlName="keyId" maxlength="500" />
                        <mat-error *ngIf="isFormControlHasError('keyId','required')">
                            <strong>Required field</strong>
                        </mat-error>
                        <mat-error *ngIf="isFormControlHasError('keyId','maxlength')">
                            <strong>Maximum field length: 500</strong>
                        </mat-error>
                        <mat-error *ngIf="isFormControlHasError('keyId','serverError')">
                            <strong>{{form.get('keyId').errors?.serverError}}</strong>
                        </mat-error>
                        <mat-hint align="start">Please enter key id
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group kt-form__group row">
                <div class="col-lg-12 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <textarea matInput placeholder="Description" formControlName="description" maxlength="1000" rows="5"></textarea>
                        <mat-error *ngIf="isFormControlHasError('description','required')">
                            <strong>Required field</strong>
                        </mat-error>
                        <mat-error *ngIf="isFormControlHasError('description','maxlength')">
                            <strong>Maximum field length: 1000</strong>
                        </mat-error>
                        <mat-error *ngIf="isFormControlHasError('description','serverError')">
                            <strong>{{form.get('description').errors?.serverError}}</strong>
                        </mat-error>
                        <mat-hint align="start">Please enter description
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="kt-portlet__foot kt-portlet__no-border kt-portlet__foot--fit">
            <div class="kt-form__actions kt-form__actions--solid">
                <div class="row text-right">
                    <div class="col-lg-12">
                        <button type="button" mat-raised-button [mat-dialog-close]="data.animal" cdkFocusInitial
                            matTooltip="Cancel changes">
                            Cancel
                        </button>&nbsp;
                        <button type="button" mat-raised-button color="primary" (click)="onSubmit()"
                            [disabled]="viewLoading" matTooltip="Save changes">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>