<div class="kt-portlet" [ngClass]="{ 'kt-portlet--body-progress kt-portlet--body-progress-overlay' : viewLoading }">
    <div class="kt-portlet__head kt-portlet__head__custom">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">Asset</h3>
        </div>
    </div>
    <div class="kt-form">
        <div class="kt-portlet__body">
            <div class="kt-form__section kt-form__section--first">
                <div class="kt-form__heading">
                    <h3 class="kt-form__heading-title">Info:</h3>
                </div>
                <div class="form-group kt-form__group row">
                    <label class="col-lg-2 col-form-label">Symbol:</label>
                    <label class="col-lg-2 col-form-label">{{asset.symbol}}</label>
                    <label class="col-lg-2 col-form-label">Status:</label>
                    <label class="col-lg-2 col-form-label"
                        [ngStyle]="{'color': asset.isDisabled === false ? 'red' : 'green'}">{{asset.isDisabled ? 'active' : 'disable'}}</label>
                </div>
                <div class="form-group kt-form__group row">
                    <label class="col-lg-2 col-form-label">Description:</label>
                    <label class="col-lg-6 col-form-label">{{asset.description}}</label>
                </div>
                <div class="kt-form__heading">
                    <h3 class="kt-form__heading-title">Properties:</h3>
                </div>
                <div class="form-group kt-form__group row">
                    <label class="col-lg-2 col-form-label">Accuracy:</label>
                    <label class="col-lg-4 col-form-label">{{asset.accuracy}}</label>
                </div>
                <div class="form-group kt-form__group row">
                    <label class="col-lg-2 col-form-label">Created:</label>
                    <label class="col-lg-4 col-form-label">{{asset.created | date:'short'}}</label>
                    <label class="col-lg-2 col-form-label">Modified:</label>
                    <label class="col-lg-4 col-form-label">{{asset.modified | date:'short'}}</label>
                </div>
            </div>
        </div>
        <div class="kt-portlet__foot kt-portlet__no-border kt-portlet__foot--fit">
            <div class="kt-form__actions kt-form__actions--solid">
                <div class="row text-right">
                    <div class="col-lg-12">
                        <button type="button" mat-raised-button [mat-dialog-close]="data.animal" cdkFocusInitial
                            matTooltip="Cancel">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>