<div class="kt-portlet" [ngClass]="{ 'kt-portlet--body-progress kt-portlet--body-progress-overlay' : viewLoading }">
    <div class="kt-portlet__head kt-portlet__head__custom">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">Create Market Order</h3>
        </div>
    </div>
    <form class="kt-form" [formGroup]="form">
        <div class="kt-portlet__body">

            <div class="kt-portlet__body-progress">
                <mat-spinner [diameter]="20"></mat-spinner>
            </div>

            <kt-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true"
                (close)="onAlertClose($event)">
                {{errorMessage}}
            </kt-alert>

            <div class="form-group kt-form__group row">
                <div class="col-lg-6 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <mat-select placeholder="Asset pair" formControlName="assetPair">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let assetPair of assetPairs" [value]="assetPair">{{assetPair}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="isControlHasError('assetPair','required')">
                            <strong>Required field</strong>
                        </mat-error>
                        <mat-hint align="start">Please enter
                            <strong>asset pair</strong>
                        </mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-lg-6 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <mat-select placeholder="Order side" formControlName="type">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="isControlHasError('type','required')">
                            <strong>Required field</strong>
                        </mat-error>
                        <mat-hint align="start">Please enter
                            <strong>Order side</strong>
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>

            <div class="kt-separator kt-separator--dashed"></div>

            <div class="form-group kt-form__group row">
                <div class="col-lg-6 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput type="number" placeholder="Enter volume" formControlName="volume" min="0"
                            max="100000" step="0.1" />
                        <mat-error *ngIf="isControlHasError('volume','required')">
                            <strong>Required field</strong>
                        </mat-error>
                        <mat-error *ngIf="isControlHasError('volume','min')">
                            <strong>Minimum field value: 0</strong>
                        </mat-error>
                        <mat-error *ngIf="isControlHasError('volume','max')">
                            <strong>Maximum field value: 100000</strong>
                        </mat-error>
                        <mat-hint align="start">Please enter
                            <strong>volume</strong>
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="kt-portlet__foot kt-portlet__no-border kt-portlet__foot--fit">
            <div class="kt-form__actions kt-form__actions--solid">
                <div class="row text-right">
                    <div class="col-lg-12">
                        <button type="button" mat-raised-button [mat-dialog-close]="data.animal" cdkFocusInitial
                            matTooltip="Cancel">
                            Cancel
                        </button>&nbsp;
                        <button type="button" mat-raised-button color="primary" (click)="onSubmit()"
                            [disabled]="viewLoading" matTooltip="Create market order">
                            Create
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>