<kt-portlet>
    <kt-portlet-header [class]="'kt-portlet__head--lg'">
        <ng-container ktPortletTitle>
            <h3 class="kt-portlet__head-title">
                <span>Withdrawal: {{withdrawalId}}</span>
            </h3>
        </ng-container>
        <ng-container ktPortletTools>
            <a [routerLink]="['../']" class="btn btn-secondary kt-margin-r-10" mat-raised-button
                matTooltip="Back to the withdrawals list">
                <i class="la la-arrow-left"></i>
                <span class="kt-hidden-mobile">Back</span>
            </a>
        </ng-container>
    </kt-portlet-header>

    <kt-portlet-body>
        <mat-tab-group>
            <mat-tab label="Details">
                <ng-template matTabContent>
                    <div *ngIf="withdrawal">
                        <div class="form-group kt-form__group row">
                            <label class="col-lg-2 col-form-label">State: <strong>{{withdrawal.state}}</strong></label>
                            <label class="col-lg-2 col-form-label">Amount:
                                <strong>{{withdrawal.amount | number:'1.1-8'}}</strong></label>
                        </div>
                        <div class="kt-form__heading">
                            <h4 class="kt-form__heading-title">Broker Account:</h4>
                        </div>
                        <div class="form-group kt-form__group row">
                            <label class="col-lg-2 col-form-label">Id:
                                <strong>{{brokerAccount?.brokerAccountId}}</strong></label>
                            <label class="col-lg-4 col-form-label">Name:
                                <strong>{{brokerAccount?.name}}</strong></label>
                        </div>
                        <div *ngIf="account">
                            <div class="kt-form__heading">
                                <h4 class="kt-form__heading-title">Account:</h4>
                            </div>
                            <div class="form-group kt-form__group row">
                                <label class="col-lg-2 col-form-label">Id:
                                    <strong>{{account?.accountId}}</strong></label>
                                <label class="col-lg-4 col-form-label">Reference Id:
                                    <strong>{{account?.referenceId}}</strong></label>
                            </div>
                        </div>
                        <div class="kt-form__heading">
                            <h4 class="kt-form__heading-title">Asset:</h4>
                        </div>
                        <div class="form-group kt-form__group row">
                            <label class="col-lg-2 col-form-label">Id: <strong>{{asset?.assetId}}</strong></label>
                            <label class="col-lg-4 col-form-label">Symbol: <strong>{{asset?.symbol}}</strong></label>
                        </div>
                        <div class="kt-form__heading">
                            <h4 class="kt-form__heading-title">Blockchain:</h4>
                        </div>
                        <div class="form-group kt-form__group row">
                            <label class="col-lg-3 col-form-label">Id:
                                <strong>{{blockchain?.blockchainId}}</strong></label>
                            <label class="col-lg-4 col-form-label">Name: <strong>{{blockchain?.name}}</strong></label>
                        </div>
                        <div *ngIf="withdrawal && withdrawal.fees.lenght > 0">
                            <div class="kt-form__heading">
                                <h4 class="kt-form__heading-title">Fees:</h4>
                            </div>
                            <div class="form-group kt-form__group row" *ngFor="let fee of withdrawal.fees">
                                <label class="col-lg-2 col-form-label">Id: <strong>{{fee.assetId}}</strong></label>
                                <label class="col-lg-2 col-form-label">Symbol:
                                    <strong>{{getAssetSymbol(fee.assetId)}}</strong></label>
                                <label class="col-lg-2 col-form-label">Amount:
                                    <strong>{{fee.amount | number:'1.1-8'}}</strong></label>
                            </div>
                        </div>
                        <div *ngIf="withdrawal?.transactionInfo">
                            <div class="kt-form__heading">
                                <h4 class="kt-form__heading-title">Transaction:</h4>
                            </div>
                            <div class="form-group kt-form__group row">
                                <label class="col-lg-3 col-form-label">Id:
                                    <strong>{{withdrawal?.transactionInfo.transactionId}}</strong></label>
                                <label class="col-lg-3 col-form-label">Block:
                                    <strong>{{withdrawal?.transactionInfo.transactionBlock}}</strong></label>
                            </div>
                            <div class="form-group kt-form__group row">
                                <label class="col-lg-3 col-form-label">Confirmations:
                                    <strong>{{withdrawal?.transactionInfo.confirmationsCount}}</strong></label>
                                <label class="col-lg-3 col-form-label">Required confirmations:
                                    <strong>{{withdrawal?.transactionInfo.requiredConfirmationsCount}}</strong></label>
                            </div>
                            <div class="form-group kt-form__group row">
                                <label class="col-lg-3 col-form-label">Date:
                                    <strong>{{withdrawal?.transactionInfo.date | date:'short'}}</strong></label>
                            </div>
                        </div>
                        <div class="kt-separator kt-separator--dashed"></div>
                        <div class="form-group kt-form__group row">
                            <label class="col-lg-3 col-form-label">Create:
                                <strong>{{withdrawal?.createdAt | date:'short'}}</strong></label>
                            <label class="col-lg-3 col-form-label">Update:
                                <strong>{{withdrawal?.updatedAt | date:'short'}}</strong></label>
                        </div>
                    </div>
                    <div>&nbsp;</div>
                </ng-template>
            </mat-tab>
            <mat-tab label="Requisites">
                <ng-template matTabContent>
                    <div class="kt-form__heading">
                        <h4 class="kt-form__heading-title">Broker Account Requisites:</h4>
                    </div>
                    <div class="form-group kt-form__group row">
                        <label class="col-lg-2 col-form-label">Id:
                            <strong>{{withdrawal?.brokerAccountDetails.id}}</strong></label>
                    </div>
                    <div class="form-group kt-form__group row">
                        <label class="col-lg-6 col-form-label">Address:
                            <strong>{{withdrawal?.brokerAccountDetails.address}}</strong></label>
                    </div>
                    <div *ngIf="withdrawal.accountDetails">
                        <div class="kt-form__heading">
                            <h4 class="kt-form__heading-title">Account Requisites:</h4>
                        </div>
                        <div class="form-group kt-form__group row">
                            <label class="col-lg-2 col-form-label">Id:
                                <strong>{{withdrawal?.accountDetails.id}}</strong></label>
                        </div>
                        <div class="form-group kt-form__group row">
                            <label class="col-lg-6 col-form-label">Address:
                                <strong>{{withdrawal?.accountDetails.address}}</strong></label>
                        </div>
                        <div class="form-group kt-form__group row">
                            <label class="col-lg-2 col-form-label">Tag:
                                <strong>{{withdrawal?.accountDetails.tag}}</strong></label>
                            <label class="col-lg-2 col-form-label">Tag Type:
                                <strong>{{withdrawal?.accountDetails.tagType}}</strong></label>
                        </div>
                    </div>
                    <div *ngIf="withdrawal.destinationDetails">
                        <div class="kt-form__heading">
                            <h4 class="kt-form__heading-title">Destination Requisites:</h4>
                        </div>
                        <div class="form-group kt-form__group row">
                            <label class="col-lg-6 col-form-label">Address:
                                <strong>{{withdrawal?.destinationDetails.address}}</strong></label>
                        </div>
                        <div class="form-group kt-form__group row">
                            <label class="col-lg-2 col-form-label">Tag:
                                <strong>{{withdrawal?.destinationDetails.tag}}</strong></label>
                            <label class="col-lg-2 col-form-label">Tag Type:
                                <strong>{{withdrawal?.destinationDetails.tagType}}</strong></label>
                        </div>
                    </div>
                    <div>&nbsp;</div>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </kt-portlet-body>
</kt-portlet>