<div class="kt-portlet" [ngClass]="{ 'kt-portlet--body-progress kt-portlet--body-progress-overlay' : viewLoading }">
    <div class="kt-portlet__head kt-portlet__head__custom">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">{{cashOperationsFeeId ? 'Edit' : 'New'}} Cash Operations Fee</h3>
        </div>
    </div>
    <form class="kt-form" [formGroup]="form">
        <div class="kt-portlet__body">
            <div class="kt-portlet__body-progress">
                <mat-spinner [diameter]="20"></mat-spinner>
            </div>
            <kt-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true"
                (close)="onAlertClose($event)">
                {{errorMessage}}
            </kt-alert>
            <div class="form-group kt-form__group row">
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <mat-select placeholder="Asset" formControlName="asset">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let asset of assets" [value]="asset">{{asset}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="isControlHasError('asset','required')">
                            <strong>Required field</strong>
                        </mat-error>
                        <mat-hint align="start">Please select <strong>asset</strong>
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group kt-form__group row">
                <div class="col-lg-8 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput type="number" placeholder="Сash in value" formControlName="cashInValue" min="0"
                            max="10000" step="0.1" />
                        <mat-error *ngIf="isControlHasError('cashInValue','required')">
                            <strong>Required field</strong>
                        </mat-error>
                        <mat-error *ngIf="isControlHasError('cashInValue','min')">
                            <strong>Minimum field value: 0</strong>
                        </mat-error>
                        <mat-error *ngIf="isControlHasError('cashInValue','max')">
                            <strong>Maximum field value: 10000</strong>
                        </mat-error>
                        <mat-hint align="start">Please enter cash in fee
                        </mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <mat-select placeholder="Fee type" formControlName="cashInFeeType">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let feeType of feeTypes" [value]="feeType">{{getFeeTypeName(feeType)}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="isControlHasError('feeType','required')">
                            <strong>Required field</strong>
                        </mat-error>
                        <mat-hint align="start">Please select fee type
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group kt-form__group row">
                <div class="col-lg-8 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput type="number" placeholder="Сash out value" formControlName="cashOutValue"
                            min="0" max="10000" step="0.1" />
                        <mat-error *ngIf="isControlHasError('cashOutValue','required')">
                            <strong>Required field</strong>
                        </mat-error>
                        <mat-error *ngIf="isControlHasError('cashOutValue','min')">
                            <strong>Minimum field value: 0</strong>
                        </mat-error>
                        <mat-error *ngIf="isControlHasError('cashOutValue','max')">
                            <strong>Maximum field value: 10000</strong>
                        </mat-error>
                        <mat-hint align="start">Please enter cash in fee
                        </mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <mat-select placeholder="Fee type" formControlName="cashOutFeeType">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let feeType of feeTypes" [value]="feeType">{{getFeeTypeName(feeType)}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="isControlHasError('feeType','required')">
                            <strong>Required field</strong>
                        </mat-error>
                        <mat-hint align="start">Please select fee type
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group kt-form__group row">
                <div class="col-lg-8 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput type="number" placeholder="Сash transfer value"
                            formControlName="cashTransferValue" min="0" max="10000" step="0.1" />
                        <mat-error *ngIf="isControlHasError('cashTransferValue','required')">
                            <strong>Required field</strong>
                        </mat-error>
                        <mat-error *ngIf="isControlHasError('cashTransferValue','min')">
                            <strong>Minimum field value: 0</strong>
                        </mat-error>
                        <mat-error *ngIf="isControlHasError('cashTransferValue','max')">
                            <strong>Maximum field value: 10000</strong>
                        </mat-error>
                        <mat-hint align="start">Please enter cash in fee
                        </mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <mat-select placeholder="Fee type" formControlName="cashTransferFeeType">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let feeType of feeTypes" [value]="feeType">{{getFeeTypeName(feeType)}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="isControlHasError('feeType','required')">
                            <strong>Required field</strong>
                        </mat-error>
                        <mat-hint align="start">Please select fee type
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="kt-portlet__foot kt-portlet__no-border kt-portlet__foot--fit">
            <div class="kt-form__actions kt-form__actions--solid">
                <div class="row text-right">
                    <div class="col-lg-12">
                        <button type="button" mat-raised-button [mat-dialog-close]="data.animal" cdkFocusInitial
                            matTooltip="Cancel changes">
                            Cancel
                        </button>&nbsp;
                        <button type="button" mat-raised-button color="primary" (click)="onSubmit()"
                            [disabled]="viewLoading" matTooltip="Save changes">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>