<kt-portlet-header [class]="'kt-portlet__head--lg'" [viewLoading$]="dataSource.loading$">
    <ng-container ktPortletTools>
        <a (click)="load()" href="javascript:;" class="btn btn-secondary kt-margin-r-10" mat-raised-button
            matTooltip="Refresh balances">
            <i class="la la-refresh"></i>
            <span class="kt-hidden-mobile">Refresh</span>
        </a>
    </ng-container>
</kt-portlet-header>

<kt-portlet-body>
    <div class="mat-table__wrapper">
        <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource">
            <ng-container matColumnDef="assetId">
                <mat-header-cell *matHeaderCellDef>Asset</mat-header-cell>
                <mat-cell *matCellDef="let item">{{item.assetSymbol}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="pendingBalance">
                <mat-header-cell *matHeaderCellDef>Pending Balance</mat-header-cell>
                <mat-cell *matCellDef="let item">{{item.pendingBalance | number:'1.1-8'}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="ownedBalance">
                <mat-header-cell *matHeaderCellDef>Owned Balance</mat-header-cell>
                <mat-cell *matCellDef="let item">{{item.ownedBalance | number:'1.1-8'}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="availableBalance">
                <mat-header-cell *matHeaderCellDef>Available Balance</mat-header-cell>
                <mat-cell *matCellDef="let item">{{item.availableBalance | number:'1.1-8'}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="reservedBalance">
                <mat-header-cell *matHeaderCellDef>Reserved Balance</mat-header-cell>
                <mat-cell *matCellDef="let item">{{item.reservedBalance | number:'1.1-8'}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="createdAt">
                <mat-header-cell *matHeaderCellDef>Created</mat-header-cell>
                <mat-cell *matCellDef="let item">{{item.createdAt | date:'short'}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="updatedAt">
                <mat-header-cell *matHeaderCellDef>Modified</mat-header-cell>
                <mat-cell *matCellDef="let item">{{item.updatedAt | date:'short'}}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>

        <div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div>
        <div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">Please wait....</div>
    </div>
</kt-portlet-body>