<kt-portlet>
    <kt-portlet-header>
        <ng-container ktPortletTitle>
            <h3 class="kt-portlet__head-title">
                <span>Broker Account Details</span>
            </h3>
        </ng-container>
        <ng-container ktPortletTools>
            <a [routerLink]="['../']" class="btn btn-secondary kt-margin-r-10" mat-raised-button
                matTooltip="Back to the broker accounts list">
                <i class="la la-arrow-left"></i>
                <span class="kt-hidden-mobile">Back</span>
            </a>
        </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>
        <div class="form-group kt-form__group row">
            <label class="col-lg-3 col-form-label">Id: <strong>{{brokerAccount?.id}}</strong></label>
            <label class="col-lg-4 col-form-label">Name: <strong>{{brokerAccount?.name}}</strong></label>
        </div>
        <div class="form-group kt-form__group row">
            <label class="col-lg-3 col-form-label">State: <strong>{{brokerAccount?.state}}</strong></label>
            <label class="col-lg-3 col-form-label">Accounts: <strong>{{brokerAccount?.accountCount}}</strong></label>
            <label class="col-lg-4 col-form-label">Blockchains:
                <strong>{{brokerAccount?.blockchainsCount}}</strong></label>
        </div>
        <h6>Vault</h6>
        <div class="form-group kt-form__group row">
            <label class="col-lg-3 col-form-label">Id: <strong>{{vault?.id}}</strong></label>
            <label class="col-lg-3 col-form-label">Name: <strong>{{vault?.name}}</strong></label>
            <label class="col-lg-4 col-form-label">Type: <strong>{{vault ? getVaultTypeTitle(vault.type) : ''}}</strong></label>
        </div>
        <mat-tab-group>
            <mat-tab label="Balances">
                <ng-template matTabContent>
                    <kt-broker-account-balances></kt-broker-account-balances>
                </ng-template>
            </mat-tab>
            <mat-tab label="Movements" disabled="true">
                <ng-template matTabContent>
                    Movements
                </ng-template>
            </mat-tab>
            <mat-tab label="Details">
                <ng-template matTabContent>
                    <kt-broker-account-requisites></kt-broker-account-requisites>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </kt-portlet-body>
</kt-portlet>