<kt-portlet>
    <kt-portlet-header [class]="'kt-portlet__head--lg'" [viewLoading$]="dataSource.loading$">
        <ng-container ktPortletTitle>
            <h3 class="kt-portlet__head-title">
                <span>Accounts</span>
            </h3>
        </ng-container>

        <ng-container ktPortletTools>
            <a (click)="load()" href="javascript:;" class="btn btn-secondary kt-margin-r-10" mat-raised-button
                matTooltip="Refresh accounts list" [disabled]="hasError">
                <i class="la la-refresh"></i>
                <span class="kt-hidden-mobile">Refresh</span>
            </a>
            <a (click)="add()" href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary"
                mat-raised-button matTooltip="Create account" [disabled]="hasError">
                <i class="la la-plus"></i>
                <span class="kt-hidden-mobile">Create</span>
            </a>
        </ng-container>
    </kt-portlet-header>

    <kt-portlet-body>
        <div class="kt-form kt-margin-b-30">
            <div class="kt-form__filtration">
                <div class="row align-items-center">
                    <div class="col-md-3 kt-margin-bottom-10-mobile">
                        <div class="kt-form__control">
                            <mat-form-field class="mat-form-field-fluid">
                                <mat-select [(value)]="brokerAccountId" (selectionChange)="load()">
                                    <mat-option value="">All</mat-option>
                                    <mat-option *ngFor="let brokerAccount of brokerAccounts"
                                        [value]="brokerAccount.id">
                                        {{brokerAccount.name}}</mat-option>
                                </mat-select>
                                <mat-hint align="start">
                                    <strong>Filter</strong> by broker account
                                </mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-3 kt-margin-bottom-10-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput placeholder="Reference Id" #searchInput>
                            <mat-hint align="start">
                                <strong>Search</strong> by reference id
                            </mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>

        <div class="mat-table__wrapper">
            <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource">
                <ng-container matColumnDef="accountId">
                    <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.id}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="referenceId">
                    <mat-header-cell *matHeaderCellDef>Reference Id</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.referenceId}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="brokerAccountId">
                    <mat-header-cell *matHeaderCellDef>Broker Account</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{getBrokerName(item.brokerAccountId)}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="state">
                    <mat-header-cell *matHeaderCellDef>State</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.state}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="createdAt">
                    <mat-header-cell *matHeaderCellDef>Created</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.createdAt | date:'short'}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="updatedAt">
                    <mat-header-cell *matHeaderCellDef>Modified</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.updatedAt | date:'short'}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                    <mat-cell *matCellDef="let item">
                        <button mat-icon-button color="primary" matTooltip="Details" type="button"
                            [routerLink]="['./',item.id]">
                            <mat-icon>more_horiz</mat-icon>
                        </button>&nbsp;
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>

            <div class="mat-table__message" *ngIf="!dataSource.hasItems && !dataSource.hasError">No records found</div>
            <div class="mat-table__message" *ngIf="dataSource.hasError">Can not load records. Please try again later.</div>
            <div class="mat-table__message" *ngIf="hasError">An error occurred while processing the request. Please try again later.</div>
            <div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">Please wait....</div>
        </div>
    </kt-portlet-body>
</kt-portlet>