<div class="kt-portlet" [ngClass]="{ 'kt-portlet--body-progress kt-portlet--body-progress-overlay' : viewLoading }">
    <div class="kt-portlet__head kt-portlet__head__custom">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">{{assetPair.symbol ? 'Edit' : 'New'}} Asset Pair</h3>
        </div>
    </div>
    <form class="kt-form" [formGroup]="form">
        <div class="kt-portlet__body">

            <div class="kt-portlet__body-progress">
                <mat-spinner [diameter]="20"></mat-spinner>
            </div>

            <kt-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true"
                (close)="onAlertClose($event)">
                {{errorMessage}}
            </kt-alert>

            <div class="form-group kt-form__group row">
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput placeholder="Enter symbol" formControlName="symbol" />
                        <mat-error *ngIf="isControlHasError('symbol','required')">
                            <strong>Required field</strong>
                        </mat-error>
                        <mat-error *ngIf="isControlHasError('symbol','minlength')">
                            <strong>Minimum field length: 3</strong>
                        </mat-error>
                        <mat-error *ngIf="isControlHasError('symbol','maxlength')">
                            <strong>Maximum field length: 36</strong>
                        </mat-error>
                        <mat-hint align="start">Please enter
                            <strong>symbol</strong>
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>

            <div class="form-group kt-form__group row">
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <mat-select placeholder="Base asset" formControlName="baseAsset">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let asset of assets" [value]="asset.symbol">{{asset.symbol}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="isControlHasError('baseAsset','required')">
                            <strong>Required field</strong>
                        </mat-error>
                        <mat-hint align="start">Please enter
                            <strong>base asset</strong>
                        </mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <mat-select placeholder="Quoting asset" formControlName="quotingAsset">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let asset of assets" [value]="asset.symbol">{{asset.symbol}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="isControlHasError('quotingAsset','required')">
                            <strong>Required field</strong>
                        </mat-error>
                        <mat-hint align="start">Please enter
                            <strong>quoting asset</strong>
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>

            <div class="kt-separator kt-separator--dashed"></div>

            <div class="form-group kt-form__group row">
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput type="number" placeholder="Enter accuracy" formControlName="accuracy" min="0"
                            max="8" step="1" />
                        <mat-error *ngIf="isControlHasError('accuracy','required')">
                            <strong>Required field</strong>
                        </mat-error>
                        <mat-error *ngIf="isControlHasError('accuracy','min')">
                            <strong>Minimum field value: 0</strong>
                        </mat-error>
                        <mat-error *ngIf="isControlHasError('accuracy','max')">
                            <strong>Maximum field value: 8</strong>
                        </mat-error>
                        <mat-hint align="start">Please enter
                            <strong>accuracy</strong>
                        </mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput type="number" placeholder="Enter Min Volume" formControlName="minVolume" min="0"
                            max="10000" step="0.1" />
                        <mat-error *ngIf="isControlHasError('minVolume','required')">
                            <strong>Required field</strong>
                        </mat-error>
                        <mat-error *ngIf="isControlHasError('minVolume','min')">
                            <strong>Minimum field value: 0</strong>
                        </mat-error>
                        <mat-error *ngIf="isControlHasError('minVolume','max')">
                            <strong>Maximum field value: 10000</strong>
                        </mat-error>
                        <mat-hint align="start">Please enter
                            <strong>min volume</strong>
                        </mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput type="number" placeholder="Enter Max Volume" formControlName="maxVolume" min="0"
                            max="100000" step="0.1" />
                        <mat-error *ngIf="isControlHasError('maxVolume','required')">
                            <strong>Required field</strong>
                        </mat-error>
                        <mat-error *ngIf="isControlHasError('maxVolume','min')">
                            <strong>Minimum field value: 0</strong>
                        </mat-error>
                        <mat-error *ngIf="isControlHasError('maxVolume','max')">
                            <strong>Maximum field value: 10000</strong>
                        </mat-error>
                        <mat-hint align="start">Please enter
                            <strong>max volume</strong>
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>

            <div class="kt-separator kt-separator--dashed"></div>

            <div class="form-group kt-form__group row">
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput type="number" placeholder="Enter max opposite volume"
                            formControlName="maxOppositeVolume" min="0" max="100000" step="0.1" />
                        <mat-error *ngIf="isControlHasError('maxOppositeVolume','required')">
                            <strong>Required field</strong>
                        </mat-error>
                        <mat-error *ngIf="isControlHasError('maxOppositeVolume','min')">
                            <strong>Minimum field value: 0</strong>
                        </mat-error>
                        <mat-error *ngIf="isControlHasError('maxOppositeVolume','max')">
                            <strong>Maximum field value: 10000</strong>
                        </mat-error>
                        <mat-hint align="start">Please enter
                            <strong>max opposite volume</strong>
                        </mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput type="number" placeholder="Enter market order price threshold"
                            formControlName="marketOrderPriceThreshold" min="0" max="100000" step="0.1"/>
                            <mat-error *ngIf="isControlHasError('marketOrderPriceThreshold','required')">
                                <strong>Required field</strong>
                            </mat-error>
                            <mat-error *ngIf="isControlHasError('marketOrderPriceThreshold','min')">
                                <strong>Minimum field value: 0</strong>
                            </mat-error>
                            <mat-error *ngIf="isControlHasError('marketOrderPriceThreshold','max')">
                                <strong>Maximum field value: 10000</strong>
                            </mat-error>
                        <mat-hint align="start">Please enter
                            <strong>Market order price threshold volume</strong>
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>

            <div class="kt-separator kt-separator--dashed"></div>

            <div class="form-group kt-form__group row">
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-checkbox formControlName="isDisabled">Disabled</mat-checkbox>
                </div>
            </div>
        </div>
        <div class="kt-portlet__foot kt-portlet__no-border kt-portlet__foot--fit">
            <div class="kt-form__actions kt-form__actions--solid">
                <div class="row text-right">
                    <div class="col-lg-12">
                        <button type="button" mat-raised-button [mat-dialog-close]="data.animal" cdkFocusInitial
                            matTooltip="Cancel changes">
                            Cancel
                        </button>&nbsp;
                        <button type="button" mat-raised-button color="primary" (click)="onSubmit()"
                            [disabled]="viewLoading" matTooltip="Save changes">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>