<div class="kt-portlet" [ngClass]="{ 'kt-portlet--body-progress kt-portlet--body-progress-overlay' : viewLoading }">
    <div class="kt-portlet__head kt-portlet__head__custom">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">{{contentId ? 'Edit' : 'New'}} Content</h3>
        </div>
    </div>
    <form class="kt-form" [formGroup]="form">
        <div class="kt-portlet__body">
            <div class="kt-portlet__body-progress">
                <mat-spinner [diameter]="20"></mat-spinner>
            </div>
            <kt-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true"
                (close)="onAlertClose($event)">
                {{errorMessage}}
            </kt-alert>
            <div class="form-group kt-form__group row">
                <div class="col-lg-12 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <mat-select placeholder="Language" formControlName="language">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let language of languages" [value]="language">{{language}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="isControlHasError('language','required')">
                            <strong>Required field</strong>
                        </mat-error>
                        <mat-hint align="start">Please select language
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group kt-form__group row">
                <div class="col-lg-12 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <textarea matInput placeholder="Content" formControlName="content" rows="10"></textarea>
                        <mat-error *ngIf="isControlHasError('name','required')">
                            <strong>Required field</strong>
                        </mat-error>
                        <mat-hint align="start">The message template.
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="kt-portlet__foot kt-portlet__no-border kt-portlet__foot--fit">
            <div class="kt-form__actions kt-form__actions--solid">
                <div class="row text-right">
                    <div class="col-lg-12">
                        <button type="button" mat-raised-button [mat-dialog-close]="data.animal" cdkFocusInitial
                            matTooltip="Cancel changes">
                            Cancel
                        </button>&nbsp;
                        <button type="button" mat-raised-button color="primary" (click)="onSubmit()"
                            [disabled]="viewLoading || !allowEdit" matTooltip="Save changes">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>