<kt-portlet-body>
    <div class="kt-form kt-margin-b-30">
        <div class="kt-form__filtration">
            <div class="row align-items-center">
                <div class="col-md-3 kt-margin-bottom-10-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input type="text" [formControl]="searchByAssetInput" matInput placeholder="Asset"
                            [matAutocomplete]="searchByAssetInputAutocomplete">
                        <mat-autocomplete #searchByAssetInputAutocomplete="matAutocomplete">
                            <mat-option *ngFor="let item of filteredAssets | async" [value]="item">
                                {{item}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-hint align="start">
                            <strong>Search</strong> by asset
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>

    <div class="mat-table__wrapper">
        <mat-table class="mat-elevation-z0" #table [dataSource]="dataSource">
            <ng-container matColumnDef="asset">
                <mat-header-cell *matHeaderCellDef>Asset</mat-header-cell>
                <mat-cell *matCellDef="let item">{{item.asset}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="cashIn">
                <mat-header-cell *matHeaderCellDef>Cash In</mat-header-cell>
                <mat-cell *matCellDef="let item">
                    {{item.cashInValue | number:'1.1-8'}}{{isPercentage(item.cashInFeeType) ? '%' : ''}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="cashOut">
                <mat-header-cell *matHeaderCellDef>Cash Out</mat-header-cell>
                <mat-cell *matCellDef="let item">
                    {{item.cashOutValue | number:'1.1-8'}}{{isPercentage(item.cashOutFeeType) ? '%' : ''}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="transfer">
                <mat-header-cell *matHeaderCellDef>Transfer</mat-header-cell>
                <mat-cell *matCellDef="let item">
                    {{item.cashTransferValue | number:'1.1-8'}}{{isPercentage(item.cashTransferFeeType) ? '%' : ''}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="operationType">
                <mat-header-cell *matHeaderCellDef>Operation Type</mat-header-cell>
                <mat-cell *matCellDef="let item">{{getOperationTypeTitle(item.operationType)}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="timestamp">
                <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
                <mat-cell *matCellDef="let item">{{item.timestamp | date:'short'}}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>

        <div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div>
        <div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">Please wait....</div>
    </div>
</kt-portlet-body>