<!-- begin:: Footer -->
<div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
	<div class="kt-container" [ngClass]="{'kt-container--fluid': fluid}">
		<div class="kt-footer__copyright">
			{{today | date:'yyyy'}}&nbsp;&copy;&nbsp;<a href="https://swisschain.io" target="_blank" class="kt-link">SwissChain</a>
		</div>
		<div class="kt-footer__menu">
			<a href="https://swisschain.github.io/Sirius.Api.Docs" target="_blank" class="kt-footer__menu-link kt-link">API</a>
			<a href="https://github.com/swisschain/Sirius/issues" target="_blank" class="kt-footer__menu-link kt-link">Feedback</a>
			<a href="mailto:contacts@swisschain.io" class="kt-footer__menu-link kt-link">Contacts</a>
		</div>
	</div>
</div>
<!-- end:: Footer -->
