<div class="kt-portlet" [ngClass]="{ 'kt-portlet--body-progress kt-portlet--body-progress-overlay' : viewLoading }">
    <div class="kt-portlet__head kt-portlet__head__custom">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">API Key Token</h3>
        </div>
    </div>
    <form class="kt-form">
        <div class="kt-portlet__body">
            <div class="kt-portlet__body-progress">
                <mat-spinner [diameter]="20"></mat-spinner>
            </div>
            <div class="kt-form__section kt-form__section--first">
                <div class="form-group kt-form__group row">
                    <div class="col-lg-12">
                        <label class="col-form-label">{{apiKey?.name}}</label>
                    </div>
                </div>
                <div class="form-group kt-form__group row">
                    <div class="col-lg-12">
                        <span style="overflow-wrap: anywhere">{{token}}</span>
                        <button mat-icon-button color="primary" matTooltip="Copy" ngxClipboard [cbContent]="token">
                            <mat-icon>filter_none</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__foot kt-portlet__no-border kt-portlet__foot--fit">
            <div class="kt-form__actions kt-form__actions--solid">
                <div class="row text-right">
                    <div class="col-lg-12">
                        <button type="button" mat-raised-button [mat-dialog-close]="data.animal" cdkFocusInitial
                            matTooltip="Cancel">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>