.mat-column-accountId {
    flex: 0 0 300px !important;
}

.mat-column-isDisabled {
    flex: 0 0 100px !important;
}

.mat-column-created {
    flex: 0 0 150px !important;
}

.mat-column-modified {
    flex: 0 0 150px !important;
}